* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 700px;
  height: auto;
  background-color: #eee;
  padding: 20px 40px;
  /* border: 1px solid #000; */
}

.container .form .ism {
  position: relative;
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container form .ism input {
  width: 200px;
  height: 30px;
  padding-left: 4px;
  border: 2px solid gray;
  /* position: absolute; */
  right: 0;
}

.container .form h1 {
  color: brown;
  margin: 0 auto;
}

.container form .gender {
  width: 55%;
  /* border: 1px solid #000; */
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.container .form .gender .male {
  display: flex;
  gap: 10px;
}

.container .form .choos {
  width: 100%;
  /* border: 1px solid #000; */
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.container .form .choos .input {
  display: flex;
  gap: 10px;
}

.container .form .comment {
  display: flex;
  width: 70%;
  /* border: 1px solid #000; */
  justify-content: space-between;
  align-items: end;
}

.container .form .comment textarea {
  height: 100px;
  width: 200px;
}

.container .form .city {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.container .form .city select {
  width: 200px;
}

.container .form .button {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container .form .button input {
  padding: 10px 40px;
}

.container .form .button .submit {
  background-color: green;
  border: none;
  border-radius: 10px;
  color: #fff;
}

.container .form .button .res {
  background-color: rgb(215, 178, 29);
  border: none;
  border-radius: 10px;
  color: #fff;
}
